Repository smartdevicelink/sdl_ios, pull requests merged in 2020-04, with the labels that each got.

#1610 replaced SDLServiceTypeRPC with service parameter
  SmartDeviceLink/SDLProtocol.m
Labels: bug, protocol

#1566 Fixed video/audio end services sometimes not being sent when secondary transport shuts down
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink.podspec
  SmartDeviceLink/SDLCarWindow.m
  SmartDeviceLink/SDLH264VideoEncoder.h
  SmartDeviceLink/SDLH264VideoEncoder.m
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLLogFileModuleMap.m
  SmartDeviceLink/SDLProtocol.m
  SmartDeviceLink/SDLSecondaryTransportManager.h
  SmartDeviceLink/SDLSecondaryTransportManager.m
  SmartDeviceLink/SDLSecondaryTransportPrimaryProtocolHandler.h
  SmartDeviceLink/SDLSecondaryTransportPrimaryProtocolHandler.m
  SmartDeviceLink/SDLStreamingAudioLifecycleManager.h
  SmartDeviceLink/SDLStreamingAudioLifecycleManager.m
  SmartDeviceLink/SDLStreamingMediaManager.h
  SmartDeviceLink/SDLStreamingMediaManager.m
  SmartDeviceLink/SDLStreamingProtocolDelegate.h
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.h
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLink/SDLTCPTransport.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingAudioLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/ProxySpecs/SDLSecondaryTransportManagerSpec.m
  SmartDeviceLinkTests/SDLH264VideoEncoderSpec.m
  SmartDeviceLinkTests/SDLStreamingMediaManagerSpec.m
Labels: bug, transport-secondary

#1609 Updated deprecation in Swift example app
  Example Apps/Example ObjC/ProxyManager.m
  Example Apps/Example Swift/ProxyManager.swift
Labels: best practice, example app

#1603 Made the choice set manager thread safe
  SmartDeviceLink/SDLChoiceSetManager.m
  SmartDeviceLink/SDLTextAndGraphicManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLChoiceSetManagerSpec.m
Labels: bug, manager-screen

#1619 Fix PreloadChoicesOperation uploading images when WindowCapability properties are nil
  SmartDeviceLink/SDLPreloadChoicesOperation.m
Labels: bug, manager-screen

#1590 Fix App does not automatically reconnect to HU after changing language
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLProxy.h
  SmartDeviceLink/SDLProxy.m
Labels: bug, manager-lifecycle

#1586 Cache lock screen images for 30 days
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/SDLCacheFileManager.h
  SmartDeviceLink/SDLCacheFileManager.m
  SmartDeviceLink/SDLError.h
  SmartDeviceLink/SDLError.m
  SmartDeviceLink/SDLErrorConstants.h
  SmartDeviceLink/SDLIconArchiveFile.h
  SmartDeviceLink/SDLIconArchiveFile.m
  SmartDeviceLink/SDLLogFileModuleMap.m
  SmartDeviceLink/SDLProxy.m
  SmartDeviceLinkTests/SDLCacheFileManagerSpec.m
Labels: bug, manager-lifecycle

#1592 Fixed crash when an iAP control session is stopped
  SmartDeviceLink/SDLIAPControlSession.m
Labels: bug, transport-iap

#1617 Delay shutting down secondary transport when device app is backgrounded
  SmartDeviceLink/SDLBackgroundTaskManager.h
  SmartDeviceLink/SDLBackgroundTaskManager.m
  SmartDeviceLink/SDLSecondaryTransportManager.m
  SmartDeviceLink/SDLStreamingAudioLifecycleManager.m
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingAudioLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/ProxySpecs/SDLSecondaryTransportManagerSpec.m
Labels: best practice, transport-secondary

#1626 Fix SDLImageField nullability of initializer parameter
  SmartDeviceLink/SDLImageField.h
  SmartDeviceLink/SDLImageField.m
Labels: bug, rpc

#1628 Fix SDLStreamingMediaManager private classes should not be public properties / methods
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLStreamingMediaManager.h
  SmartDeviceLink/SDLStreamingMediaManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
  SmartDeviceLinkTests/SDLStreamingMediaManagerSpec.m
Labels: bug, manager-streaming-audio, manager-streaming-video
