Repository smartdevicelink/sdl_ios, pull requests merged in 2020-12, with the labels that each got.

#1862 Fix SDLArtwork copy with static icon / overwrite
  SmartDeviceLink/public/SDLArtwork.m
  SmartDeviceLinkTests/DevAPISpecs/SDLArtworkSpec.m
Labels: bug, manager-screen

#1859 Fix for SDL protocol message version
  SmartDeviceLink/private/SDLGlobals.h
  SmartDeviceLink/private/SDLGlobals.m
  SmartDeviceLink/private/SDLLifecycleProtocolHandler.m
  SmartDeviceLinkTests/UtilitiesSpecs/SDLGlobalsSpec.m
Labels: bug, protocol

#1858 Fix to deprecate SDLDisplayCapabilities
  SmartDeviceLink/public/SDLDisplayCapabilities.h
  SmartDeviceLink/public/SDLDisplayCapabilities.m
  SmartDeviceLink/public/SDLSystemCapabilityManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLRegisterAppInterfaceResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSetDisplayLayoutResponseSpec.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: bug

#1829 Fix for button event notification
  Example Apps/Example ObjC/AlertManager.m
  Example Apps/Example Swift/AlertManager.swift
  SmartDeviceLink/private/SDLSoftButtonManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLSoftButtonManagerSpec.m
Labels: bug

#1870 Change T&G BlankArtwork to persistent artwork
  SmartDeviceLink/private/SDLTextAndGraphicManager.m
Labels: bug, manager-screen

#1869 Update to only overwrite non-persistent files on RPC v4.3.1 or less
  SmartDeviceLink/private/SDLLifecycleManager.m
  SmartDeviceLink/public/SDLFileManager.m
  SmartDeviceLink/public/SDLMsgVersion.m
Labels: bug, manager-screen

#1843 Refactor Voice Command Manager
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLError.h
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLLogFileModuleMap.m
  SmartDeviceLink/private/SDLVoiceCommandManager.h
  SmartDeviceLink/private/SDLVoiceCommandManager.m
  SmartDeviceLink/private/SDLVoiceCommandUpdateOperation.h
  SmartDeviceLink/private/SDLVoiceCommandUpdateOperation.m
  SmartDeviceLink/public/SDLErrorConstants.h
  SmartDeviceLink/public/SDLScreenManager.h
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleMobileHMIStateHandlerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLVoiceCommandManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLVoiceCommandUpdateOperationSpec.m
  SmartDeviceLinkTests/TestConnectionRequestObject.h
  SmartDeviceLinkTests/TestConnectionRequestObject.m
  SmartDeviceLinkTests/TestUtilities/TestConnectionManager.h
  SmartDeviceLinkTests/TestUtilities/TestConnectionManager.m
Labels: best practice, manager-screen

#1853 Fix for overwriting SDLArtwork
  SmartDeviceLink/private/SDLMenuManager.m
  SmartDeviceLink/private/SDLPreloadChoicesOperation.m
  SmartDeviceLink/private/SDLSoftButtonReplaceOperation.m
  SmartDeviceLink/private/SDLTextAndGraphicUpdateOperation.m
  SmartDeviceLink/public/SDLFileManager.h
  SmartDeviceLink/public/SDLFileManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLFileManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPreloadChoicesOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicUpdateOperationSpec.m
  SmartDeviceLinkTests/SDLSoftButtonReplaceOperationSpec.m
Labels: bug
