Repository smartdevicelink/sdl_ios, pull requests merged in 2020-07, with the labels that each got.

#1698 Fix soft button image upload failing
  SmartDeviceLink/SDLSoftButtonReplaceOperation.m
  SmartDeviceLinkTests/SDLSoftButtonReplaceOperationSpec.m
Labels: bug, manager-screen

#1688 SDL 0279 - Screen manager subscribe buttons
  Example Apps/Example ObjC/ProxyManager.m
  Example Apps/Example Swift/ProxyManager.swift
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/SDLError.h
  SmartDeviceLink/SDLError.m
  SmartDeviceLink/SDLErrorConstants.h
  SmartDeviceLink/SDLLogFileModuleMap.m
  SmartDeviceLink/SDLScreenManager.h
  SmartDeviceLink/SDLScreenManager.m
  SmartDeviceLink/SDLSubscribeButtonManager.h
  SmartDeviceLink/SDLSubscribeButtonManager.m
  SmartDeviceLink/SDLSubscribeButtonObserver.h
  SmartDeviceLink/SDLSubscribeButtonObserver.m
  SmartDeviceLink/SDLSystemCapabilityManager.m
  SmartDeviceLink/TestSubscribeButtonObserver.h
  SmartDeviceLink/TestSubscribeButtonObserver.m
  SmartDeviceLinkTests/DevAPISpecs/SDLSoftButtonStateSpec.m
  SmartDeviceLinkTests/SDLSubscribeButtonManagerSpec.m
  SmartDeviceLinkTests/SDLSubscribeButtonObserverSpec.m
  SmartDeviceLink_Example/SubscribeButtonManager.h
  SmartDeviceLink_Example/SubscribeButtonManager.m
  SmartDeviceLink_Example/SubscribeButtonManager.swift
Labels: manager-screen, proposal

#1700 Fixed video encoding properties not being set when new compression session created
  SmartDeviceLink/SDLH264VideoEncoder.m
Labels: bug, manager-streaming-video

#1707 Fix PRs from forks not running CI tests
  .github/workflows/test.yml
Labels: bug, testing

#1695 Align with Java Suite Permission Manager Parameter Permissions
  Example Apps/Example ObjC/RPCPermissionsManager.m
  Example Apps/Example Swift/RPCPermissionsManager.swift
  SmartDeviceLink-iOS.podspec
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink.podspec
  SmartDeviceLink/SDLPermissionConstants.h
  SmartDeviceLink/SDLPermissionElement.h
  SmartDeviceLink/SDLPermissionElement.m
  SmartDeviceLink/SDLPermissionFilter.h
  SmartDeviceLink/SDLPermissionFilter.m
  SmartDeviceLink/SDLPermissionManager.h
  SmartDeviceLink/SDLPermissionManager.m
  SmartDeviceLink/SDLRPCPermissionStatus.h
  SmartDeviceLink/SDLRPCPermissionStatus.m
  SmartDeviceLink/SmartDeviceLink.h
  SmartDeviceLinkTests/DevAPISpecs/SDLPermissionFilterSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPermissionsManagerSpec.m
  SmartDeviceLinkTests/SDLPermissionElementSpec.m
  SmartDeviceLinkTests/SDLRPCPermissionStatusSpec.m
Labels: best practice, manager-permissions

#1711 Make system capability manager thread safe
  SmartDeviceLink/SDLSubscribeButtonManager.m
  SmartDeviceLink/SDLSystemCapabilityManager.m
Labels: bug, manager-system-capability

#1712 Fix a deadlock when restarting the lifecycle manager from managerDidDisconnect
  Example Apps/Example Swift/ProxyManager.swift
  SmartDeviceLink/SDLLifecycleManager.m
Labels: bug, manager-lifecycle

#1714 Fix unknown RPC crash
  SmartDeviceLink/SDLLifecycleProtocolHandler.m
Labels: bug, protocol

#1717 The secondary transport manager now only starts a timer when the secondary transport has opened
  SmartDeviceLink/SDLEncryptionLifecycleManager.m
  SmartDeviceLink/SDLLifecycleProtocolHandler.m
  SmartDeviceLink/SDLProtocol.m
  SmartDeviceLink/SDLProtocolDelegate.h
  SmartDeviceLink/SDLProtocolReceivedMessageRouter.h
  SmartDeviceLink/SDLProtocolReceivedMessageRouter.m
  SmartDeviceLink/SDLSecondaryTransportManager.m
  SmartDeviceLink/SDLStreamingAudioLifecycleManager.m
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleProtocolHandlerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingAudioLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/ProtocolSpecs/MessageSpecs/SDLProtocolSpec.m
  SmartDeviceLinkTests/ProtocolSpecs/SDLProtocolReceivedMessageRouterSpec.m
  SmartDeviceLinkTests/ProxySpecs/SDLSecondaryTransportManagerSpec.m
  SmartDeviceLinkTests/SDLEncryptionLifecycleManagerSpec.m
Labels: bug, transport-secondary

#1725 Fix documentation on permission manager subscribe method callback parameters
  SmartDeviceLink/SDLPermissionConstants.h
Labels: documentation

#1729 Fixed the permission manager deprecation messages
  SmartDeviceLink/SDLPermissionManager.h
Labels: documentation

#1727 Update README.md
  README.md
Labels: documentation

#1715 [SDL 0200] - Removing url parameter max length
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnSystemRequestSpec.m
Labels: proposal, rpc

#1702 [SDL 0273] WebEngine Projection mode
  SmartDeviceLink/SDLAppHMIType.h
  SmartDeviceLink/SDLAppHMIType.m
  SmartDeviceLink/SDLAppInterfaceUnregisteredReason.h
  SmartDeviceLink/SDLAppInterfaceUnregisteredReason.m
  SmartDeviceLink/SDLPredefinedLayout.h
  SmartDeviceLink/SDLPredefinedLayout.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLAppHMITypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLAppInterfaceUnregisteredReasonSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLPredefinedLayoutSpec.m
Labels: proposal, rpc
