Repository smartdevicelink/sdl_ios, pull requests merged in 2020-02, with the labels that each got.

#1548 Fix slider / scrollable message time out message
  Example Apps/Example ObjC/MenuManager.m
  Example Apps/Example Swift/MenuManager.swift
Labels: best practice, example app

#1547 Fix SDLManagerDelegate missing videoStreamingState callback
  SmartDeviceLink/SDLLifecycleManager.h
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLManagerDelegate.h
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
Labels: bug, manager-lifecycle

#1524 Fixing lock screen dismiss call if not being presented.
  SmartDeviceLink/SDLLockScreenPresenter.m
Labels: bug, manager-lockscreen, manager-video-streaming

#1555 Implement SDL-0214 Secondary Transport Optimization
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLLogFileModuleMap.m
  SmartDeviceLink/SDLSecondaryTransportManager.m
  SmartDeviceLink/SDLTCPTransport.m
  SmartDeviceLinkTests/ProxySpecs/SDLSecondaryTransportManagerSpec.m
Labels: bug, transport-secondary

#1558 Remove deprecations of structs -> dictionary and visa versa
  SmartDeviceLink/SDLProtocol.m
  SmartDeviceLink/SDLRPCStruct.h
  SmartDeviceLink/SDLRPCStruct.m
  SmartDeviceLinkTests/ProtocolSpecs/MessageSpecs/SDLProtocolSpec.m
  SmartDeviceLinkTests/RPCSpecs/SuperclassSpecs/SDLRPCStructSpec.m
Labels: best practice, rpc

#1539 Update SDLTouch to handle NSNull occurence
  SmartDeviceLink/SDLTouch.m
Labels: bug, manager-video-streaming

#1552 Add synchronization around SDLResponseDispatcher
  SmartDeviceLink/SDLResponseDispatcher.m
  SmartDeviceLinkTests/Notifications/SDLResponseDispatcherSpec.m
Labels: bug, manager-lifecycle

#1570 Ensure RPC Request thread safety
  SmartDeviceLink/SDLGlobals.h
  SmartDeviceLink/SDLGlobals.m
  SmartDeviceLink/SDLLifecycleManager.m
Labels: bug, manager-lifecycle

#1572 Fix the APT handler was removed after the response handler was called
  SmartDeviceLink/SDLNotificationDispatcher.m
  SmartDeviceLink/SDLResponseDispatcher.m
  SmartDeviceLinkTests/Notifications/SDLResponseDispatcherSpec.m
Labels: bug, manager-lifecycle
