Repository smartdevicelink/sdl_ios, pull requests merged in 2020-08, with the labels that each got.

#1742 RPC Generator: Increase width of description columns from 113 chars to 2048 chars
  generator/transformers/common_producer.py
Labels: bug, rpc-spec-generator

#1733 Implement SDL-0202 - Supported Character Sets
  SmartDeviceLink/SDLCharacterSet.h
  SmartDeviceLink/SDLCharacterSet.m
  SmartDeviceLink/SDLTextField+ScreenManagerExtensions.m
  SmartDeviceLink/SDLTextField.h
  SmartDeviceLinkTests/DevAPISpecs/SDLChoiceSetManagerSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLCharacterSetSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLTextFieldSpec.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: proposal, rpc

#1731 Implement SDL-0152 Driver Distraction: Command List Limitations
  SmartDeviceLink-iOS.podspec
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink.podspec
  SmartDeviceLink/SDLDriverDistractionCapability.h
  SmartDeviceLink/SDLDriverDistractionCapability.m
  SmartDeviceLink/SDLGlobals.m
  SmartDeviceLink/SDLHMICapabilities.h
  SmartDeviceLink/SDLHMICapabilities.m
  SmartDeviceLink/SDLRPCParameterNames.h
  SmartDeviceLink/SDLRPCParameterNames.m
  SmartDeviceLink/SDLSystemCapability.h
  SmartDeviceLink/SDLSystemCapability.m
  SmartDeviceLink/SDLSystemCapabilityManager.h
  SmartDeviceLink/SDLSystemCapabilityManager.m
  SmartDeviceLink/SDLSystemCapabilityType.h
  SmartDeviceLink/SDLSystemCapabilityType.m
  SmartDeviceLink/SmartDeviceLink.h
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLSystemCapabilityTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLRegisterAppInterfaceSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLDriverDistractionCapabilitySpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLHMICapabilitiesSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLSystemCapabilitySpec.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: proposal, rpc

#1741 Force response non-mandatory inits to use `self` not `super`
  generator/templates/base_struct_function.m.jinja2
Labels: bug, rpc-spec-generator

#1693 [SDL-0257] New vehicle data HandsOffSteering
  SmartDeviceLink/SDLGetVehicleData.h
  SmartDeviceLink/SDLGetVehicleData.m
  SmartDeviceLink/SDLGetVehicleDataResponse.h
  SmartDeviceLink/SDLGetVehicleDataResponse.m
  SmartDeviceLink/SDLOnVehicleData.h
  SmartDeviceLink/SDLOnVehicleData.m
  SmartDeviceLink/SDLRPCParameterNames.h
  SmartDeviceLink/SDLRPCParameterNames.m
  SmartDeviceLink/SDLSubscribeVehicleData.h
  SmartDeviceLink/SDLSubscribeVehicleData.m
  SmartDeviceLink/SDLSubscribeVehicleDataResponse.h
  SmartDeviceLink/SDLSubscribeVehicleDataResponse.m
  SmartDeviceLink/SDLUnsubscribeVehicleData.h
  SmartDeviceLink/SDLUnsubscribeVehicleData.m
  SmartDeviceLink/SDLUnsubscribeVehicleDataResponse.h
  SmartDeviceLink/SDLUnsubscribeVehicleDataResponse.m
  SmartDeviceLink/SDLVehicleDataType.h
  SmartDeviceLink/SDLVehicleDataType.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLVehicleDataTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLGetVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLUnsubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLGetVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLUnsubscribeVehicleDataResponseSpec.m
Labels: proposal, rpc

#1743 Consolidate running on a serial sub-queue to SDLGlobals
  SmartDeviceLink/SDLChoiceSetManager.m
  SmartDeviceLink/SDLGlobals.h
  SmartDeviceLink/SDLGlobals.m
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLResponseDispatcher.m
  SmartDeviceLink/SDLSubscribeButtonManager.m
  SmartDeviceLink/SDLSystemCapabilityManager.m
Labels: best practice, manager-lifecycle

#1692 [SDL-0256] Refactor Fuel Information Related Vehicle Data
  Example Apps/Example ObjC/VehicleDataManager.m
  SmartDeviceLink-iOS.podspec
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink.podspec
  SmartDeviceLink/SDLCapacityUnit.h
  SmartDeviceLink/SDLCapacityUnit.m
  SmartDeviceLink/SDLFuelRange.h
  SmartDeviceLink/SDLFuelRange.m
  SmartDeviceLink/SDLGetVehicleData.h
  SmartDeviceLink/SDLGetVehicleData.m
  SmartDeviceLink/SDLGetVehicleDataResponse.h
  SmartDeviceLink/SDLGetVehicleDataResponse.m
  SmartDeviceLink/SDLOnVehicleData.h
  SmartDeviceLink/SDLOnVehicleData.m
  SmartDeviceLink/SDLRPCParameterNames.h
  SmartDeviceLink/SDLRPCParameterNames.m
  SmartDeviceLink/SDLSubscribeVehicleData.h
  SmartDeviceLink/SDLSubscribeVehicleData.m
  SmartDeviceLink/SDLSubscribeVehicleDataResponse.h
  SmartDeviceLink/SDLSubscribeVehicleDataResponse.m
  SmartDeviceLink/SDLUnsubscribeVehicleData.h
  SmartDeviceLink/SDLUnsubscribeVehicleData.m
  SmartDeviceLink/SDLUnsubscribeVehicleDataResponse.h
  SmartDeviceLink/SDLUnsubscribeVehicleDataResponse.m
  SmartDeviceLink/SDLVehicleDataType.h
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLCapacityUnitSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLVehicleDataTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLGetVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLUnsubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLGetVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLUnsubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLFuelRangeSpec.m
Labels: proposal, rpc

#1750 Generate documentation for an array using the RPC spec generator
  generator/transformers/common_producer.py
Labels: bug, rpc-spec-generator

#1754 Removed deprecated parameters from inits created by the RPC spec generator
  generator/transformers/common_producer.py
Labels: bug, rpc-spec-generator

#1690 [SDL-0266] New vehicle data GearStatus
  Example Apps/Example ObjC/MenuManager.m
  Example Apps/Example ObjC/VehicleDataManager.m
  Example Apps/Example Swift/MenuManager.swift
  Example Apps/Shared/AppConstants.h
  Example Apps/Shared/AppConstants.m
  SmartDeviceLink-iOS.podspec
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink.podspec
  SmartDeviceLink/SDLGearStatus.h
  SmartDeviceLink/SDLGearStatus.m
  SmartDeviceLink/SDLGetVehicleData.h
  SmartDeviceLink/SDLGetVehicleData.m
  SmartDeviceLink/SDLGetVehicleDataResponse.h
  SmartDeviceLink/SDLGetVehicleDataResponse.m
  SmartDeviceLink/SDLOnVehicleData.h
  SmartDeviceLink/SDLOnVehicleData.m
  SmartDeviceLink/SDLPRNDL.h
  SmartDeviceLink/SDLPRNDL.m
  SmartDeviceLink/SDLRPCParameterNames.h
  SmartDeviceLink/SDLRPCParameterNames.m
  SmartDeviceLink/SDLSubscribeVehicleData.h
  SmartDeviceLink/SDLSubscribeVehicleData.m
  SmartDeviceLink/SDLSubscribeVehicleDataResponse.h
  SmartDeviceLink/SDLSubscribeVehicleDataResponse.m
  SmartDeviceLink/SDLTransmissionType.h
  SmartDeviceLink/SDLTransmissionType.m
  SmartDeviceLink/SDLUnsubscribeVehicleData.h
  SmartDeviceLink/SDLUnsubscribeVehicleData.m
  SmartDeviceLink/SDLUnsubscribeVehicleDataResponse.h
  SmartDeviceLink/SDLUnsubscribeVehicleDataResponse.m
  SmartDeviceLink/SDLVehicleDataType.h
  SmartDeviceLink/SDLVehicleDataType.m
  SmartDeviceLink/SmartDeviceLink.h
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLPRNDLSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLTransmissionTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLVehicleDataTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLGetVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLUnsubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLGetVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLUnsubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLGearStatusSpec.m
Labels: proposal, rpc

#1694 [SDL-0261] New vehicle data WindowStatus
  Example Apps/Example ObjC/VehicleDataManager.m
  SmartDeviceLink-iOS.podspec
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink.podspec
  SmartDeviceLink/SDLGetVehicleData.h
  SmartDeviceLink/SDLGetVehicleData.m
  SmartDeviceLink/SDLGetVehicleDataResponse.h
  SmartDeviceLink/SDLGetVehicleDataResponse.m
  SmartDeviceLink/SDLOnVehicleData.h
  SmartDeviceLink/SDLOnVehicleData.m
  SmartDeviceLink/SDLRPCParameterNames.h
  SmartDeviceLink/SDLRPCParameterNames.m
  SmartDeviceLink/SDLSubscribeVehicleData.h
  SmartDeviceLink/SDLSubscribeVehicleData.m
  SmartDeviceLink/SDLSubscribeVehicleDataResponse.h
  SmartDeviceLink/SDLSubscribeVehicleDataResponse.m
  SmartDeviceLink/SDLUnsubscribeVehicleData.h
  SmartDeviceLink/SDLUnsubscribeVehicleData.m
  SmartDeviceLink/SDLUnsubscribeVehicleDataResponse.h
  SmartDeviceLink/SDLUnsubscribeVehicleDataResponse.m
  SmartDeviceLink/SDLVehicleDataType.h
  SmartDeviceLink/SDLVehicleDataType.m
  SmartDeviceLink/SDLWindowState.h
  SmartDeviceLink/SDLWindowState.m
  SmartDeviceLink/SDLWindowStatus.h
  SmartDeviceLink/SDLWindowStatus.m
  SmartDeviceLink/SmartDeviceLink.h
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLVehicleDataTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLGetVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLUnsubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLGetVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLUnsubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLWindowStateSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLWindowStatusSpec.m
Labels: proposal, rpc
