Repository smartdevicelink/sdl_ios, pull requests merged in 2020-06, with the labels that each got.

#1658 Increase size of tiny icons and replace some icons
  Example Apps/Shared/Images.xcassets/alert.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/alert.imageset/alert.png
  Example Apps/Shared/Images.xcassets/alert.imageset/iconmonstr-warning-7-240.png
  Example Apps/Shared/Images.xcassets/car.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/car.imageset/iconmonstr-car-1-240.png
  Example Apps/Shared/Images.xcassets/car.imageset/iconmonstr-car-1-64.png
  Example Apps/Shared/Images.xcassets/choice_set.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/choice_set.imageset/iconmonstr-menu-1-240.png
  Example Apps/Shared/Images.xcassets/choice_set.imageset/iconmonstr-text-23-64.png
  Example Apps/Shared/Images.xcassets/microphone.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/microphone.imageset/iconmonstr-microphone-4-240.png
  Example Apps/Shared/Images.xcassets/microphone.imageset/microphone.png
  Example Apps/Shared/Images.xcassets/phone.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/phone.imageset/iconmonstr-phone-4-240.png
  Example Apps/Shared/Images.xcassets/phone.imageset/phone.png
  Example Apps/Shared/Images.xcassets/speak.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/speak.imageset/iconmonstr-speech-bubble-3-240.png
  Example Apps/Shared/Images.xcassets/speak.imageset/iconmonstr-speech-bubble-5-64.png
  Example Apps/Shared/Images.xcassets/toggle_off.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/toggle_off.imageset/iconmonstr-battery-3-240.png
  Example Apps/Shared/Images.xcassets/toggle_off.imageset/toggle_off.png
  Example Apps/Shared/Images.xcassets/toggle_on.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/toggle_on.imageset/iconmonstr-battery-7-240.png
  Example Apps/Shared/Images.xcassets/toggle_on.imageset/toggle_on.png
Labels: example app

#1672 Bugfix/issue 1666 permission manager observer
  SmartDeviceLink/SDLPermissionManager.h
Labels: documentation, manager-permissions

#1606 SDL-0289 Support for Set Language Separately
  Example Apps/Example ObjC/ProxyManager.m
  Example Apps/Example Swift/ProxyManager.swift
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLManagerDelegate.h
Labels: manager-lifecycle, proposal

#1671 Added support for GitHub Actions CI
  .github/workflows/test.yml
  .travis.yml
  README.md
Labels: best practice

#1674 Implement SDL-0289 Unit Tests
  Example Apps/Example ObjC/ProxyManager.m
  Example Apps/Example Swift/ProxyManager.swift
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/SDLLifecycleConfigurationUpdate.m
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLManagerDelegate.h
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/TestOldConfigurationUpdateManagerDelegate.h
  SmartDeviceLinkTests/DevAPISpecs/TestOldConfigurationUpdateManagerDelegate.m
  SmartDeviceLinkTests/TestNewConfigurationUpdateManagerDelegate.h
  SmartDeviceLinkTests/TestNewConfigurationUpdateManagerDelegate.m
Labels: manager-lifecycle, proposal, testing

#1679 Add BSON and example apps to codecov exclude list
  codecov.yml
Labels: bug, testing

#1677 Bugfix/issue 1667 permission manager method alignment
  Example Apps/Example ObjC/RPCPermissionsManager.m
  Example Apps/Example ObjC/VehicleDataManager.m
  Example Apps/Example Swift/RPCPermissionsManager.swift
  Example Apps/Example Swift/VehicleDataManager.swift
  SmartDeviceLink/SDLPermissionConstants.h
  SmartDeviceLink/SDLPermissionManager.h
  SmartDeviceLink/SDLPermissionManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPermissionsManagerSpec.m
Labels: manager-permissions

#1686 Fixed lockscreen deadlock
  SmartDeviceLink/SDLLockScreenManager.m
  SmartDeviceLink/SDLLockScreenPresenter.m
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLockScreenManagerSpec.m
Labels: bug, manager-lockscreen

#1660 Fixed turning wifi off and back on off breaks secondary transport
  SmartDeviceLink/SDLIAPControlSession.m
  SmartDeviceLink/SDLIAPDataSession.m
  SmartDeviceLink/SDLIAPSession.h
  SmartDeviceLink/SDLIAPSession.m
  SmartDeviceLink/SDLIAPTransport.m
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLProtocol.m
  SmartDeviceLink/SDLProxy.h
  SmartDeviceLink/SDLProxy.m
  SmartDeviceLink/SDLSecondaryTransportManager.h
  SmartDeviceLink/SDLSecondaryTransportManager.m
  SmartDeviceLink/SDLStreamingAudioLifecycleManager.h
  SmartDeviceLink/SDLStreamingAudioLifecycleManager.m
  SmartDeviceLink/SDLStreamingMediaManager.m
  SmartDeviceLink/SDLStreamingProtocolDelegate.h
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.h
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLink/SDLTCPTransport.m
  SmartDeviceLink/SDLTransportType.h
  SmartDeviceLinkTests/DevAPISpecs/SDLAudioStreamManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingAudioLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/ProxySpecs/SDLSecondaryTransportManagerSpec.m
  SmartDeviceLinkTests/SDLStreamingMediaManagerSpec.m
  SmartDeviceLinkTests/TransportSpecs/TCP/SDLTCPTransportSpec.m
  SmartDeviceLinkTests/TransportSpecs/iAP/SDLIAPDataSessionSpec.m
  SmartDeviceLinkTests/TransportSpecs/iAP/SDLIAPTransportSpec.m
Labels: bug, manager-lifecycle, transport-iap, transport-secondary, transport-tcp

#1699 Bugfix/issue 1675 fix encryption manager state on disconnect
  SmartDeviceLink/SDLEncryptionLifecycleManager.m
  SmartDeviceLinkTests/SDLEncryptionLifecycleManagerSpec.m
Labels: bug, manager-encryption
