Repository smartdevicelink/sdl_ios, pull requests merged in 2020-09, with the labels that each got.

#1753 Refactor Text & Graphic Manager to use queues
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/SDLLogFileModuleMap.m
  SmartDeviceLink/SDLTextAndGraphicManager.m
  SmartDeviceLink/SDLTextAndGraphicState.h
  SmartDeviceLink/SDLTextAndGraphicState.m
  SmartDeviceLink/SDLTextAndGraphicUpdateOperation.h
  SmartDeviceLink/SDLTextAndGraphicUpdateOperation.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicUpdateOperationSpec.m
  SmartDeviceLinkTests/SDLScreenManagerSpec.m
Labels: best practice, manager-screen

#1739 Add support for protocol nak reason parameter
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/SDLControlFramePayloadNak.h
  SmartDeviceLink/SDLControlFramePayloadNak.m
  SmartDeviceLink/SDLProtocol.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/ProtocolSpecs/ControlFramePayloadSpecs/SDLControlFramePayloadNakSpec.m
Labels: proposal, protocol

#1758 RPC spec generator no longer cut text after @TODO
  generator/transformers/common_producer.py
Labels: bug, rpc-spec-generator

#1768 Move example app files to the correct folder
  Example Apps/Example ObjC/SubscribeButtonManager.h
  Example Apps/Example ObjC/SubscribeButtonManager.m
  Example Apps/Example Swift/SubscribeButtonManager.swift
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
Labels: bug, example app

#1764 Fix automated tests not running properly
  SmartDeviceLinkTests/DevAPISpecs/SDLLockScreenManagerSpec.m
  SmartDeviceLinkTests/SDLCacheFileManagerSpec.m
Labels: bug, testing

#1774 Fixed warnings in the Obj-C example app
  Example Apps/Example ObjC/ConnectionTransitionContext.m
  Example Apps/Shared/Images.xcassets/AppIcon.appiconset/Contents.json
  Example Apps/Shared/Images.xcassets/AppIcon.appiconset/iTunesArtwork.png
Labels: bug, example app

#1766 Fixed generator history/deprecated documentation
  generator/templates/description.jinja2
  generator/templates/description_param.jinja2
  generator/transformers/common_producer.py
  generator/transformers/enums_producer.py
  generator/transformers/functions_producer.py
  generator/transformers/structs_producer.py
Labels: bug, rpc-spec-generator

#1776 [SDL 0278] Screen Manager Template Management
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLError.h
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLTextAndGraphicManager.h
  SmartDeviceLink/private/SDLTextAndGraphicManager.m
  SmartDeviceLink/private/SDLTextAndGraphicState.h
  SmartDeviceLink/private/SDLTextAndGraphicState.m
  SmartDeviceLink/private/SDLTextAndGraphicUpdateOperation.h
  SmartDeviceLink/private/SDLTextAndGraphicUpdateOperation.m
  SmartDeviceLink/public/SDLArtwork.h
  SmartDeviceLink/public/SDLArtwork.m
  SmartDeviceLink/public/SDLErrorConstants.h
  SmartDeviceLink/public/SDLErrorConstants.m
  SmartDeviceLink/public/SDLScreenManager.h
  SmartDeviceLink/public/SDLScreenManager.m
  SmartDeviceLink/public/SDLSetDisplayLayout.h
  SmartDeviceLink/public/SDLSetDisplayLayout.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicStateSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicUpdateOperationSpec.m
  SmartDeviceLinkTests/SDLScreenManagerSpec.m
Labels: manager-screen, proposal

#1775 include userLocation in SetGlobalProperties init
  SmartDeviceLink/public/SDLSetGlobalProperties.h
  SmartDeviceLink/public/SDLSetGlobalProperties.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSetGlobalPropertiesSpec.m
Labels: bug, rpc

#1770 Consolidate logic for saving the dynamic mtu size
  SmartDeviceLink/private/SDLProtocol.m
  SmartDeviceLink/private/SDLStreamingAudioLifecycleManager.m
  SmartDeviceLink/private/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingAudioLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/ProtocolSpecs/MessageSpecs/SDLProtocolSpec.m
Labels: best practice, manager-lifecycle

#1779 Fixed RPC spec generator unsorted imports
  generator/templates/base_struct_function.m.jinja2
  generator/templates/functions/template.m.jinja2
  generator/templates/structs/template.m.jinja2
  generator/transformers/common_producer.py
Labels: bug, rpc-spec-generator

#1777 Rpc generator fix to generate optional floats
  generator/transformers/common_producer.py
Labels: bug, rpc-spec-generator

#1780 Fix for RPC spec generator to stop producing #pragmas that suppress deprecated warnings to property and enum definitions
  generator/templates/base_struct_function.h.jinja2
  generator/templates/base_struct_function.m.jinja2
  generator/templates/enums/template.h.jinja2
  generator/templates/enums/template.m.jinja2
Labels: bug, rpc-spec-generator

#1791 Fixed the lock screen manager not getting lock screen status notifications
  SmartDeviceLink/private/SDLLockScreenManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleSystemRequestHandlerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLockScreenManagerSpec.m
  SmartDeviceLinkTests/ReferenceImages_64/SDLLockScreenViewControllerSnapshotTests/testAppAndVehicleIcons@2x.png
  SmartDeviceLinkTests/ReferenceImages_64/SDLLockScreenViewControllerSnapshotTests/testLightBackgroundNoAppNoVehicleIcons@2x.png
  SmartDeviceLinkTests/ReferenceImages_64/SDLLockScreenViewControllerSnapshotTests/testNoAppNoVehicleIcons@2x.png
  SmartDeviceLinkTests/ReferenceImages_64/SDLLockScreenViewControllerSnapshotTests/testOnlyAppIcon@2x.png
  SmartDeviceLinkTests/ReferenceImages_64/SDLLockScreenViewControllerSnapshotTests/testOnlyVehicleIcon@2x.png
Labels: bug

#1792 Fixed some soft button handlers not getting saved
  SmartDeviceLink/private/SDLResponseDispatcher.m
  SmartDeviceLinkTests/Notifications/SDLResponseDispatcherSpec.m
Labels: bug

#1788 Documentation clean up
  docs/Classes/SDLAddCommand.html
  docs/Classes/SDLAlert.html
  docs/Classes/SDLAlertManeuver.html
  docs/Classes/SDLAudioFile.html
  docs/Classes/SDLCancelInteraction.html
  docs/Classes/SDLClimateControlCapabilities.html
  docs/Classes/SDLConfiguration.html
  docs/Classes/SDLDisplayCapability.html
  docs/Classes/SDLFileManager.html
  docs/Classes/SDLGetInteriorVehicleDataConsent.html
  docs/Classes/SDLImageField.html
  docs/Classes/SDLLockScreenViewController.html
  docs/Classes/SDLManager.html
  docs/Classes/SDLMenuCell.html
  docs/Classes/SDLMenuConfiguration.html
  docs/Classes/SDLOnHMIStatus.html
  docs/Classes/SDLPerformInteraction.html
  docs/Classes/SDLPutFile.html
  docs/Classes/SDLScreenManager.html
  docs/Classes/SDLSeatControlCapabilities.html
  docs/Classes/SDLStreamingMediaConfiguration.html
  docs/Classes/SDLTTSChunk.html
  docs/Classes/SDLTemplateConfiguration.html
  docs/Classes/SDLTextField.html
  docs/Classes/SDLTireStatus.html
  docs/Classes/SDLTouch.html
  docs/Classes/SDLWeatherServiceManifest.html
  docs/Enums/SDLSystemCapabilityManagerError.html
  docs/Protocols/SDLChoiceSetDelegate.html
  docs/Protocols/SDLServiceEncryptionDelegate.html
  docs/Protocols/SDLTouchManagerDelegate.html
Labels: documentation
