Repository smartdevicelink/sdl_ios, pull requests merged in 2020-03, with the labels that each got.

#1543 Align System Capability Manager Behavior with Java Suite
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink-Example-ObjC.xcscheme
  SmartDeviceLink/SDLError.h
  SmartDeviceLink/SDLError.m
  SmartDeviceLink/SDLErrorConstants.h
  SmartDeviceLink/SDLSystemCapabilityManager.h
  SmartDeviceLink/SDLSystemCapabilityManager.m
  SmartDeviceLink/SDLSystemCapabilityObserver.h
  SmartDeviceLink/SDLSystemCapabilityObserver.m
  SmartDeviceLinkTests/DevAPISpecs/TestSystemCapabilityObserver.h
  SmartDeviceLinkTests/DevAPISpecs/TestSystemCapabilityObserver.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: best practice, manager-system-capability

#1574 removed code from swift example that checks for first time hmiLevel i…
  Example Apps/Example Swift/ProxyManager.swift
Labels: bug, example app

#1550 Fix lock screen dismiss animation not working on certain older systems
  SmartDeviceLink/SDLLockScreenManager.m
  SmartDeviceLink/SDLLockScreenPresenter.m
  SmartDeviceLink/SDLViewControllerPresentable.h
  SmartDeviceLinkTests/DevAPISpecs/SDLFakeViewControllerPresenter.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLockScreenManagerSpec.m
  SmartDeviceLinkTests/LoggingSpecs/SDLLogFilterSpec.m
Labels: bug, manager-lockscreen

#1575 Fix ScreenManager not sending updates in certain cases that it should
  Example Apps/Example ObjC/PerformInteractionManager.m
  Example Apps/Example Swift/PerformInteractionManager.swift
  SmartDeviceLink/SDLChoiceSetManager.m
  SmartDeviceLink/SDLDisplayCapability.h
  SmartDeviceLink/SDLDisplayCapability.m
  SmartDeviceLink/SDLError.m
  SmartDeviceLink/SDLImageField.h
  SmartDeviceLink/SDLImageField.m
  SmartDeviceLink/SDLMenuManager.m
  SmartDeviceLink/SDLOnHMIStatus.h
  SmartDeviceLink/SDLOnHMIStatus.m
  SmartDeviceLink/SDLPreloadChoicesOperation.h
  SmartDeviceLink/SDLPreloadChoicesOperation.m
  SmartDeviceLink/SDLSoftButtonManager.m
  SmartDeviceLink/SDLSoftButtonReplaceOperation.h
  SmartDeviceLink/SDLSoftButtonReplaceOperation.m
  SmartDeviceLink/SDLSystemCapabilityManager.m
  SmartDeviceLink/SDLTextAndGraphicManager.m
  SmartDeviceLink/SDLTextField.h
  SmartDeviceLink/SDLTextField.m
  SmartDeviceLinkTests/DevAPISpecs/SDLChoiceSetManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPreloadChoicesOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLSoftButtonManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicManagerSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnHMIStatusSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLImageFieldSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLTextFieldSpec.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: bug, manager-screen

#1588 Fix SDLProxy private method naming and add documentation
  SmartDeviceLink/SDLProxy.m
Labels: best practice

#1573 Fixed checking if streaming is supported returning wrong value
  SmartDeviceLink/SDLLifecycleManager.m
  SmartDeviceLink/SDLStreamingAudioLifecycleManager.h
  SmartDeviceLink/SDLStreamingAudioLifecycleManager.m
  SmartDeviceLink/SDLStreamingMediaManager.h
  SmartDeviceLink/SDLStreamingMediaManager.m
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.h
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingAudioLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
Labels: bug

#1596 Ensure that text and graphic updates aren't sent before we are ready
  SmartDeviceLink/SDLTextAndGraphicManager.m
Labels: bug, manager-screen

#1604 Deprecate all SyncPData structures
  Cartfile.resolved
  SmartDeviceLink/SDLEncodedSyncPData.h
  SmartDeviceLink/SDLEncodedSyncPData.m
  SmartDeviceLink/SDLEncodedSyncPDataResponse.h
  SmartDeviceLink/SDLEncodedSyncPDataResponse.m
  SmartDeviceLink/SDLFunctionID.m
  SmartDeviceLink/SDLNotificationConstants.h
  SmartDeviceLink/SDLNotificationConstants.m
  SmartDeviceLink/SDLNotificationDispatcher.m
  SmartDeviceLink/SDLOnEncodedSyncPData.h
  SmartDeviceLink/SDLOnEncodedSyncPData.m
  SmartDeviceLink/SDLOnSyncPData.h
  SmartDeviceLink/SDLOnSyncPData.m
  SmartDeviceLink/SDLProxy.m
  SmartDeviceLink/SDLProxyListener.h
  SmartDeviceLink/SDLRPCFunctionNames.h
  SmartDeviceLink/SDLSyncPData.h
  SmartDeviceLink/SDLSyncPData.m
  SmartDeviceLink/SDLSyncPDataResponse.h
  SmartDeviceLink/SDLSyncPDataResponse.m
  SmartDeviceLinkTests/ProtocolSpecs/SDLFunctionIDSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnEncodedSyncPDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnSyncPDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLEncodedSyncPDataSpec.m
  SmartDeviceLinkTests/SDLRPCFunctionNamesSpec.m
Labels: best practice

#1608 Deprecated lockscreen notification and enum
  SmartDeviceLink/SDLLockScreenManager.m
  SmartDeviceLink/SDLLockScreenStatus.h
  SmartDeviceLink/SDLLockScreenStatusManager.h
  SmartDeviceLink/SDLLockScreenStatusManager.m
  SmartDeviceLink/SDLNotificationConstants.h
  SmartDeviceLink/SDLNotificationDispatcher.m
  SmartDeviceLink/SDLProxyListener.h
  SmartDeviceLinkTests/DevAPISpecs/SDLLockScreenManagerSpec.m
  SmartDeviceLinkTests/ProxySpecs/SDLLockScreenStatusManagerSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLLockScreenStatusSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnLockScreenStatusSpec.m
Labels: best practice
