Repository smartdevicelink/sdl_ios, pull requests merged in 2020-05, with the labels that each got.

#1647 Remove NSNumber specifiers in certain cases
  SmartDeviceLink/SDLAppServiceManifest.h
  SmartDeviceLink/SDLAppServiceManifest.m
  SmartDeviceLink/SDLDiagnosticMessage.h
  SmartDeviceLink/SDLDiagnosticMessage.m
  SmartDeviceLink/SDLDiagnosticMessageResponse.h
  SmartDeviceLink/SDLDiagnosticMessageResponse.m
  SmartDeviceLink/SDLGetInteriorVehicleDataConsentResponse.h
  SmartDeviceLink/SDLGetInteriorVehicleDataConsentResponse.m
  SmartDeviceLink/SDLPerformInteraction.h
  SmartDeviceLink/SDLPerformInteraction.m
  SmartDeviceLink/SDLReadDID.h
  SmartDeviceLink/SDLReadDID.m
  SmartDeviceLink/SDLRegisterAppInterfaceResponse.h
  SmartDeviceLink/SDLRegisterAppInterfaceResponse.m
  SmartDeviceLink/SDLTouchEvent.h
  SmartDeviceLink/SDLTouchEvent.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLGetInteriorVehicleDataConsentResponseSpec.m
Labels: bug, rpc

#1645 Fix SDLAudioStreamManager doesn't have human readable error messages
  SmartDeviceLink/SDLAudioStreamManager.h
  SmartDeviceLink/SDLAudioStreamManager.m
  SmartDeviceLink/SDLError.h
  SmartDeviceLink/SDLError.m
  SmartDeviceLink/SDLErrorConstants.h
  SmartDeviceLink/SDLPCMAudioConverter.m
  SmartDeviceLinkTests/DevAPISpecs/SDLAudioStreamManagerSpec.m
Labels: best practice, manager-streaming-audio

#1644 Fix Failing Travis Tests
  .travis.yml
  SmartDeviceLinkTests/DevAPISpecs/SDLSequentialRPCRequestOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLSoftButtonManagerSpec.m
  SmartDeviceLinkTests/Notifications/SDLResponseDispatcherSpec.m
  SmartDeviceLinkTests/SDLCacheFileManagerSpec.m
Labels: bug, testing

#1649 Fixed SDLButtonPress initializer missing mandatory parameter
  SmartDeviceLink/SDLButtonPress.h
  SmartDeviceLink/SDLButtonPress.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLButtonPressSpec.m
Labels: bug, rpc

#1650 Stop / Start FocusableItemLocator when VideoStreamingLifecycleManager starts / stops
  SmartDeviceLink/SDLFocusableItemLocator.m
  SmartDeviceLink/SDLFocusableItemLocatorType.h
  SmartDeviceLink/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLinkTests/ProxySpecs/SDLHapticManagerSpec.m
Labels: bug, manager-streaming-video

#1646 Replace uses of NSTimer with SDLTimer
  SmartDeviceLink/SDLTCPTransport.m
  SmartDeviceLink/SDLTimer.h
  SmartDeviceLink/SDLTimer.m
  SmartDeviceLink/SDLTouchManager.h
  SmartDeviceLink/SDLTouchManager.m
Labels: best practice

#1655 Add secondary transport security manager unit tests
  SmartDeviceLinkTests/ProxySpecs/SDLSecondaryTransportManagerSpec.m
Labels: testing

#1656 Update README with lock screen screenshot test information
  README.md
Labels: documentation

#1657 Update example apps with icons for vehicle data menu items
  Example Apps/Example ObjC/MenuManager.m
  Example Apps/Example Swift/MenuManager.swift
Labels: example app

#1651 Video Background String Not Showing
  SmartDeviceLink/SDLH264VideoEncoder.m
Labels: bug

#1663 fix to call sdl_handleSystemRequestLaunchApp only in main thread
  SmartDeviceLink/SDLProxy.m
Labels: bug

#1664 Handle nil displayCapabilities better in SCM
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/Assets/Base.lproj/SDLLockScreen.storyboard
  SmartDeviceLink/SDLChoiceSetManager.m
  SmartDeviceLink/SDLImageField+ScreenManagerExtensions.h
  SmartDeviceLink/SDLImageField+ScreenManagerExtensions.m
  SmartDeviceLink/SDLMenuManager.h
  SmartDeviceLink/SDLMenuManager.m
  SmartDeviceLink/SDLPreloadChoicesOperation.m
  SmartDeviceLink/SDLScreenManager.m
  SmartDeviceLink/SDLSoftButtonReplaceOperation.m
  SmartDeviceLink/SDLSystemCapabilityManager.m
  SmartDeviceLink/SDLTextAndGraphicManager.m
  SmartDeviceLink/SDLTextField+ScreenManagerExtensions.h
  SmartDeviceLink/SDLTextField+ScreenManagerExtensions.m
  SmartDeviceLink/SDLWindowCapability+ScreenManagerExtensions.h
  SmartDeviceLink/SDLWindowCapability+ScreenManagerExtensions.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicManagerSpec.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: bug, manager-system-capability

#1665 Added empty check for menu cell voice commands array
  SmartDeviceLink/SDLMenuManager.m
Labels: bug, manager-screen
