Repository smartdevicelink/sdl_ios, pull requests merged in 2021-06, with the labels that each got.

#2005 If raw data fails to encrypt, don't send the protocol message
  SmartDeviceLink/private/SDLProtocol.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuCellSpec.m
Labels: bug, protocol

#1956 Fix to avoid deleting and setting identical voice commands
  Example Apps/Example ObjC/ProxyManager.m
  SmartDeviceLink/private/SDLVoiceCommandManager.m
  SmartDeviceLink/private/SDLVoiceCommandUpdateOperation.m
  SmartDeviceLink/public/SDLVoiceCommand.m
  SmartDeviceLinkTests/DevAPISpecs/SDLVoiceCommandUpdateOperationSpec.m
Labels: best practice

#2000 Fix SDLPredefinedLayoutNonMedia not found in templatesAvailable
  SmartDeviceLink/public/SDLSystemCapabilityManager.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: bug, manager-system-capability

#2004 Fixed the choice set manager not handling failed preload choices correctly
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLChoiceSetManager.m
  SmartDeviceLink/private/SDLPreloadChoicesOperation.h
  SmartDeviceLink/private/SDLPreloadChoicesOperation.m
  SmartDeviceLinkTests/DevAPISpecs/SDLChoiceSetManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPreloadChoicesOperationSpec.m
Labels: bug, manager-screen

#2003 Fix not checking available menu properties
  SmartDeviceLink/private/SDLChoiceSetManager.m
  SmartDeviceLink/private/SDLMenuManager.m
  SmartDeviceLink/public/SDLChoiceCell.h
  SmartDeviceLink/public/SDLChoiceCell.m
  SmartDeviceLink/public/SDLMenuCell.h
  SmartDeviceLink/public/SDLMenuCell.m
  SmartDeviceLinkTests/DevAPISpecs/SDLChoiceSetManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuManagerSpec.m
Labels: bug, manager-screen

#2002 Fixed random failures in SDLVoiceCommandManagerSpec due to operations being canceled
  SmartDeviceLinkTests/DevAPISpecs/SDLVoiceCommandManagerSpec.m
Labels: bug

#2012 Numerous fixes to SDLVideoStreamingRange
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLError.h
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLLogFileModuleMap.m
  SmartDeviceLink/public/SDLVideoStreamingRange.h
  SmartDeviceLink/public/SDLVideoStreamingRange.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLVideoStreamingRangeSpec.m
  SmartDeviceLinkTests/SDLSupportedStreamingRangeSpec.m
Labels: bug, documentation, manager-streaming-video

#2014 Fixed menu manager sending secondary image with menuCells when menuCommandSecondaryImage is not supported
  SmartDeviceLink/private/SDLMenuManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuManagerSpec.m
Labels: bug, manager-screen
