Repository smartdevicelink/sdl_ios, pull requests merged in 2021-02, with the labels that each got.

#1866 0262 New vehicle data SeatOccupancy
  Example Apps/Example ObjC/VehicleDataManager.m
  Example Apps/Example Swift/VehicleDataManager.swift
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLRPCParameterNames.h
  SmartDeviceLink/private/SDLRPCParameterNames.m
  SmartDeviceLink/public/SDLGetVehicleData.h
  SmartDeviceLink/public/SDLGetVehicleData.m
  SmartDeviceLink/public/SDLGetVehicleDataResponse.h
  SmartDeviceLink/public/SDLGetVehicleDataResponse.m
  SmartDeviceLink/public/SDLOnVehicleData.h
  SmartDeviceLink/public/SDLOnVehicleData.m
  SmartDeviceLink/public/SDLSeatOccupancy.h
  SmartDeviceLink/public/SDLSeatOccupancy.m
  SmartDeviceLink/public/SDLSeatStatus.h
  SmartDeviceLink/public/SDLSeatStatus.m
  SmartDeviceLink/public/SDLSubscribeVehicleData.h
  SmartDeviceLink/public/SDLSubscribeVehicleData.m
  SmartDeviceLink/public/SDLSubscribeVehicleDataResponse.h
  SmartDeviceLink/public/SDLSubscribeVehicleDataResponse.m
  SmartDeviceLink/public/SDLUnsubscribeVehicleData.h
  SmartDeviceLink/public/SDLUnsubscribeVehicleData.m
  SmartDeviceLink/public/SDLUnsubscribeVehicleDataResponse.h
  SmartDeviceLink/public/SDLUnsubscribeVehicleDataResponse.m
  SmartDeviceLink/public/SDLVehicleDataType.h
  SmartDeviceLink/public/SDLVehicleDataType.m
  SmartDeviceLink/public/SmartDeviceLink.h
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLVehicleDataTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLGetVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLUnsubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLGetVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSeatOccupancySpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSeatStatusSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLUnsubscribeVehicleDataResponseSpec.m
Labels: proposal, rpc

#1908 Change CI carthage update to bootstap
  .github/workflows/test.yml
Labels: bug, testing

#1878 [SDL-0323] Align video streaming parameters with VideoStreamingCapability
  SmartDeviceLink/private/SDLStreamingVideoLifecycleManager.m
Labels: manager-streaming-video, proposal

#1851 Implement feature SDL-0269 'New vehicle data ClimateData'
  Example Apps/Example ObjC/VehicleDataManager.m
  Example Apps/Example Swift/VehicleDataManager.swift
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLRPCParameterNames.h
  SmartDeviceLink/private/SDLRPCParameterNames.m
  SmartDeviceLink/public/SDLClimateData.h
  SmartDeviceLink/public/SDLClimateData.m
  SmartDeviceLink/public/SDLGetVehicleData.h
  SmartDeviceLink/public/SDLGetVehicleData.m
  SmartDeviceLink/public/SDLGetVehicleDataResponse.h
  SmartDeviceLink/public/SDLGetVehicleDataResponse.m
  SmartDeviceLink/public/SDLOnVehicleData.h
  SmartDeviceLink/public/SDLOnVehicleData.m
  SmartDeviceLink/public/SDLSubscribeVehicleData.h
  SmartDeviceLink/public/SDLSubscribeVehicleData.m
  SmartDeviceLink/public/SDLSubscribeVehicleDataResponse.h
  SmartDeviceLink/public/SDLSubscribeVehicleDataResponse.m
  SmartDeviceLink/public/SDLUnsubscribeVehicleData.h
  SmartDeviceLink/public/SDLUnsubscribeVehicleData.m
  SmartDeviceLink/public/SDLUnsubscribeVehicleDataResponse.h
  SmartDeviceLink/public/SDLUnsubscribeVehicleDataResponse.m
  SmartDeviceLink/public/SDLVehicleDataType.h
  SmartDeviceLink/public/SDLVehicleDataType.m
  SmartDeviceLink/public/SmartDeviceLink.h
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLVehicleDataTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/NotificationSpecs/SDLOnVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLGetVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLUnsubscribeVehicleDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLGetVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLSubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLUnsubscribeVehicleDataResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLClimateDataSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLVideoStreamingCapabilitySpec.m
  carthage-build.sh
Labels: proposal, rpc

#1879 SDL 0305 Homogenize TextFieldName
  SmartDeviceLink/private/SDLTextField+ScreenManagerExtensions.m
  SmartDeviceLink/public/SDLTextFieldName.h
  SmartDeviceLink/public/SDLTextFieldName.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLTextFieldNameSpec.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: proposal, rpc

#1914 Fix for issue 1913 observer mock is deprecated
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleSystemRequestHandlerSpec.m
Labels: manager-lifecycle

#1872 SDL 0267 Main Menu UI updates
  Example Apps/Example ObjC/MenuManager.m
  Example Apps/Example Swift/MenuManager.swift
  SmartDeviceLink/private/SDLMenuManager.m
  SmartDeviceLink/public/SDLAddCommand.h
  SmartDeviceLink/public/SDLAddCommand.m
  SmartDeviceLink/public/SDLAddSubMenu.h
  SmartDeviceLink/public/SDLAddSubMenu.m
  SmartDeviceLink/public/SDLImageFieldName.h
  SmartDeviceLink/public/SDLImageFieldName.m
  SmartDeviceLink/public/SDLMenuCell.h
  SmartDeviceLink/public/SDLMenuCell.m
  SmartDeviceLink/public/SDLMenuParams.h
  SmartDeviceLink/public/SDLMenuParams.m
  SmartDeviceLink/public/SDLTextFieldName.h
  SmartDeviceLink/public/SDLTextFieldName.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuCellSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuManagerSpec.m
  SmartDeviceLinkTests/Notifications/SDLResponseDispatcherSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLImageFieldNameSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLTextFieldNameSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLAddCommandSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLAddSubMenuSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLMenuParamsSpec.m
  SmartDeviceLinkTests/SDLMenuUpdateAlgorithmSpec.m
Labels: manager-screen, proposal, rpc

#1916 Update SDLTextFieldNameTimeToDestination documentation
  SmartDeviceLink/public/SDLTextFieldName.h
Labels: documentation

#1917 RPC spec generator no longer generates unused SDLRPCParameterNames
  generator/test/test_functions.py
  generator/transformers/functions_producer.py
Labels: bug, rpc-spec-generator

#1883 SDL-0238 Keyboard Enhancements
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLChoiceSetManager.m
  SmartDeviceLink/private/SDLPresentChoiceSetOperation.h
  SmartDeviceLink/private/SDLPresentChoiceSetOperation.m
  SmartDeviceLink/private/SDLPresentKeyboardOperation.h
  SmartDeviceLink/private/SDLPresentKeyboardOperation.m
  SmartDeviceLink/private/SDLRPCParameterNames.h
  SmartDeviceLink/private/SDLRPCParameterNames.m
  SmartDeviceLink/private/SDLWindowCapability+ScreenManagerExtensions.h
  SmartDeviceLink/private/SDLWindowCapability+ScreenManagerExtensions.m
  SmartDeviceLink/public/SDLKeyboardCapabilities.h
  SmartDeviceLink/public/SDLKeyboardCapabilities.m
  SmartDeviceLink/public/SDLKeyboardDelegate.h
  SmartDeviceLink/public/SDLKeyboardEvent.h
  SmartDeviceLink/public/SDLKeyboardEvent.m
  SmartDeviceLink/public/SDLKeyboardInputMask.h
  SmartDeviceLink/public/SDLKeyboardInputMask.m
  SmartDeviceLink/public/SDLKeyboardLayout.h
  SmartDeviceLink/public/SDLKeyboardLayout.m
  SmartDeviceLink/public/SDLKeyboardLayoutCapability.h
  SmartDeviceLink/public/SDLKeyboardLayoutCapability.m
  SmartDeviceLink/public/SDLKeyboardProperties.h
  SmartDeviceLink/public/SDLKeyboardProperties.m
  SmartDeviceLink/public/SDLWindowCapability.h
  SmartDeviceLink/public/SDLWindowCapability.m
  SmartDeviceLink/public/SmartDeviceLink.h
  SmartDeviceLinkTests/DevAPISpecs/SDLChoiceSetManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPresentChoiceSetOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPresentKeyboardOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicManagerSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLKeyboardEventSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLKeyboardInputMaskSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLKeyboardLayoutSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLKeyboardCapabilitiesSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLKeyboardLayoutCapabilitySpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLKeyboardPropertiesSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLWindowCapabilitySpec.m
Labels: manager-screen, proposal, rpc

#1919 Implement SDL-0293 Enable OEM Exclusive App Support
  Example Apps/Example ObjC/ProxyManager.m
  Example Apps/Example Swift/ProxyManager.swift
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink-Example-ObjC.xcscheme
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink.xcscheme
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLinkSwift.xcscheme
  SmartDeviceLink/private/SDLConnectionManagerType.h
  SmartDeviceLink/private/SDLControlFramePayloadConstants.h
  SmartDeviceLink/private/SDLControlFramePayloadConstants.m
  SmartDeviceLink/private/SDLControlFramePayloadRPCStartServiceAck.h
  SmartDeviceLink/private/SDLControlFramePayloadRPCStartServiceAck.m
  SmartDeviceLink/private/SDLEncryptionLifecycleManager.m
  SmartDeviceLink/private/SDLGlobals.m
  SmartDeviceLink/private/SDLLifecycleManager.h
  SmartDeviceLink/private/SDLLifecycleManager.m
  SmartDeviceLink/private/SDLProtocol.h
  SmartDeviceLink/private/SDLProtocol.m
  SmartDeviceLink/private/SDLStreamingAudioLifecycleManager.m
  SmartDeviceLink/private/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLink/public/SDLManagerDelegate.h
  SmartDeviceLink/public/SDLRegisterAppInterfaceResponse.h
  SmartDeviceLink/public/SDLSystemInfo.h
  SmartDeviceLink/public/SDLSystemInfo.m
  SmartDeviceLink/public/SDLVehicleType.h
  SmartDeviceLink/public/SDLVehicleType.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingAudioLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLSystemInfoSpec.m
  SmartDeviceLinkTests/ProtocolSpecs/MessageSpecs/SDLControlFramePayloadConstantsSpec.m
  SmartDeviceLinkTests/ProtocolSpecs/MessageSpecs/SDLProtocolSpec.m
  SmartDeviceLinkTests/ProtocolSpecs/SDLControlFramePayloadRPCStartServiceAckSpec.m
  SmartDeviceLinkTests/ProxySpecs/SDLSecondaryTransportManagerSpec.m
  SmartDeviceLinkTests/RPCSpecs/ResponseSpecs/SDLRegisterAppInterfaceResponseSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLVehicleTypeSpec.m
  SmartDeviceLinkTests/SDLEncryptionLifecycleManagerSpec.m
  SmartDeviceLinkTests/TestUtilities/TestConnectionManager.h
  SmartDeviceLinkTests/TestUtilities/TestConnectionManager.m
Labels: manager-lifecycle, proposal, protocol

#1922 removed FBSnapchotTestCase
  DEPENDENCIES.md
Labels: bug, documentation
