Repository smartdevicelink/sdl_ios, pull requests merged in 2021-04, with the labels that each got.

#1949 Fix for lock screen not dismissible bug
  SmartDeviceLink/private/SDLLockScreenManager.m
Labels: bug, manager-lockscreen

#1953 Let developer override the default custom video encoder settings when not set by the video streaming capability
  SmartDeviceLink/private/SDLStreamingVideoLifecycleManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLStreamingVideoLifecycleManagerSpec.m
Labels: bug, manager-streaming-video

#1968 Fix for example app menu not displayed correctly after app exit
  Example Apps/Example ObjC/ProxyManager.m
  Example Apps/Example Swift/ProxyManager.swift
Labels: bug, example app

#1963 Fix for sending voiceCommand with duplicate strings
  SmartDeviceLink/public/SDLVoiceCommand.m
  SmartDeviceLinkTests/DevAPISpecs/SDLVoiceCommandSpec.m
Labels: bug

#1972 Fix a crash when RPC encryption starts and callback when RPCs fail due to RPC encryption
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLError.h
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLLifecycleManager.m
  SmartDeviceLink/private/SDLProtocol.h
  SmartDeviceLink/private/SDLProtocol.m
  SmartDeviceLink/private/SDLUploadFileOperation.m
  SmartDeviceLink/public/SDLErrorConstants.h
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
  SmartDeviceLinkTests/ProtocolSpecs/MessageSpecs/SDLProtocolSpec.m
Labels: bug, manager-lifecycle, protocol

#1977 Fixed the file manager erroring if the ListFiles RPC must be encrypted
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/public/SDLFileManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLFileManagerSpec.m
Labels: bug, manager-lifecycle
