Repository smartdevicelink/sdl_ios, pull requests merged in 2021-01, with the labels that each got.

#1881 Fix unit tests fail randomly in the SDLVoiceCommandManagerSpec
  SmartDeviceLinkTests/DevAPISpecs/SDLVoiceCommandManagerSpec.m
Labels: bug, testing

#1833 Put SDL queues at the highest priority
  SmartDeviceLink/private/SDLChoiceSetManager.m
  SmartDeviceLink/private/SDLGlobals.m
  SmartDeviceLink/private/SDLLifecycleManager.m
  SmartDeviceLink/private/SDLSoftButtonManager.m
  SmartDeviceLink/private/SDLSoftButtonReplaceOperation.m
  SmartDeviceLink/private/SDLSoftButtonTransitionOperation.m
  SmartDeviceLink/private/SDLTextAndGraphicManager.m
Labels: bug, manager-lifecycle

#1832 RPC spec generator now adds the default_value to the documentation for enum and bool parameters
  generator/transformers/common_producer.py
Labels: bug, rpc-spec-generator

#1877 SDL0285: ShowConstantTBT Description Update
  SmartDeviceLink/public/SDLShowConstantTBT.h
Labels: documentation

#1874 SDL 0244 Custom playback rates for SetMediaClockTimer
  SmartDeviceLink/private/SDLGlobals.m
  SmartDeviceLink/private/SDLRPCParameterNames.h
  SmartDeviceLink/private/SDLRPCParameterNames.m
  SmartDeviceLink/public/SDLSetMediaClockTimer.h
  SmartDeviceLink/public/SDLSetMediaClockTimer.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSetMediaClockTimerSpec.m
Labels: proposal, rpc

#1868 SDL-0255 Enhance BodyInformation vehicle data
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLRPCParameterNames.h
  SmartDeviceLink/private/SDLRPCParameterNames.m
  SmartDeviceLink/public/SDLBodyInformation.h
  SmartDeviceLink/public/SDLBodyInformation.m
  SmartDeviceLink/public/SDLDoorStatus.h
  SmartDeviceLink/public/SDLDoorStatus.m
  SmartDeviceLink/public/SDLDoorStatusType.h
  SmartDeviceLink/public/SDLDoorStatusType.m
  SmartDeviceLink/public/SDLGateStatus.h
  SmartDeviceLink/public/SDLGateStatus.m
  SmartDeviceLink/public/SDLRoofStatus.h
  SmartDeviceLink/public/SDLRoofStatus.m
  SmartDeviceLink/public/SmartDeviceLink.h
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLDoorStatusTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLBodyInformationSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLDoorStatusSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLGateStatusSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLRoofStatusSpec.m
Labels: proposal, rpc

#1896 Fix contributing guide
  .github/CONTRIBUTING.md
Labels: documentation

#1902 Fixed throw an exception in the soft button manager if two buttons have the same name
  SmartDeviceLink/private/SDLError.h
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLSoftButtonManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLSoftButtonManagerSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLRegisterAppInterfaceSpec.m
Labels: bug, manager-screen

#1903 Update Unit Tests to Run Locally on Xcode 12.4
  Cartfile.private
  Cartfile.resolved
  README.md
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLinkTests/DevAPISpecs/SDLLockScreenViewControllerSnapshotTests.m
  carthage-build.sh
Labels: bug, testing

#1900 RPC Spec Alignment for 7.1 Issues
  SmartDeviceLink/private/SDLTextField+ScreenManagerExtensions.m
  SmartDeviceLink/public/SDLRegisterAppInterface.h
  SmartDeviceLink/public/SDLShow.h
  SmartDeviceLink/public/SDLShow.m
  SmartDeviceLink/public/SDLTextFieldName.h
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleProtocolHandlerSpec.m
  SmartDeviceLinkTests/Notifications/SDLResponseDispatcherSpec.m
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLTextFieldNameSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLShowSpec.m
Labels: rpc

#1904 Fix remote tests failing to build
  .github/workflows/test.yml
Labels: bug, testing

#1865 SDL 0198 Media Skip Indicators
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLRPCParameterNames.h
  SmartDeviceLink/private/SDLRPCParameterNames.m
  SmartDeviceLink/public/SDLSeekIndicatorType.h
  SmartDeviceLink/public/SDLSeekIndicatorType.m
  SmartDeviceLink/public/SDLSeekStreamingIndicator.h
  SmartDeviceLink/public/SDLSeekStreamingIndicator.m
  SmartDeviceLink/public/SDLSetMediaClockTimer.h
  SmartDeviceLink/public/SDLSetMediaClockTimer.m
  SmartDeviceLink/public/SmartDeviceLink.h
  SmartDeviceLinkTests/RPCSpecs/EnumSpecs/SDLSeekIndicatorTypeSpec.m
  SmartDeviceLinkTests/RPCSpecs/RequestSpecs/SDLSetMediaClockTimerSpec.m
  SmartDeviceLinkTests/RPCSpecs/StructSpecs/SDLSeekStreamingIndicatorSpec.m
Labels: proposal, rpc
