Repository smartdevicelink/sdl_ios, pull requests merged in 2021-09, with the labels that each got.

#2032 Fix moduleName description in SDLSeatControlCapabilities
  SmartDeviceLink/public/SDLSeatControlCapabilities.h
Labels: documentation

#2019 Refactor Choice Set Manager to Fix Several Bugs
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink-Example-Swift.xcscheme
  SmartDeviceLink/private/SDLCheckChoiceVROptionalOperation.h
  SmartDeviceLink/private/SDLCheckChoiceVROptionalOperation.m
  SmartDeviceLink/private/SDLChoiceSetManager.m
  SmartDeviceLink/private/SDLDeleteChoicesOperation.h
  SmartDeviceLink/private/SDLDeleteChoicesOperation.m
  SmartDeviceLink/private/SDLError.h
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLIAPDataSession.m
  SmartDeviceLink/private/SDLLogFileModuleMap.m
  SmartDeviceLink/private/SDLPreloadChoicesOperation.h
  SmartDeviceLink/private/SDLPreloadChoicesOperation.m
  SmartDeviceLink/private/SDLPreloadPresentChoicesOperation.h
  SmartDeviceLink/private/SDLPreloadPresentChoicesOperation.m
  SmartDeviceLink/private/SDLPreloadPresentChoicesOperationUtilities.h
  SmartDeviceLink/private/SDLPreloadPresentChoicesOperationUtilities.m
  SmartDeviceLink/private/SDLPresentChoiceSetOperation.h
  SmartDeviceLink/private/SDLPresentChoiceSetOperation.m
  SmartDeviceLink/public/SDLChoiceCell.m
  SmartDeviceLink/public/SDLChoiceSet.m
  SmartDeviceLink/public/SDLErrorConstants.h
  SmartDeviceLink/public/SDLMenuCell.m
  SmartDeviceLinkTests/DevAPISpecs/SDLCheckChoiceVROptionalOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLChoiceSetManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLDeleteChoicesOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPreloadChoicesOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPreloadPresentChoicesOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPreloadPresentChoicesOperationUtilitiesSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPresentChoiceSetOperationSpec.m
Labels: bug, manager-screen

#2026 Security queries are not implemented to spec
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLProtocol.m
  SmartDeviceLink/private/SDLSecurityQueryErrorCode.h
  SmartDeviceLink/private/SDLSecurityQueryErrorCode.m
  SmartDeviceLink/private/SDLSecurityQueryPayload.h
  SmartDeviceLink/private/SDLSecurityQueryPayload.m
  SmartDeviceLinkTests/RPCSpecs/PayloadSpecs/SDLSecurityQueryPayloadSpec.m
Labels: bug, protocol

#1901 Menu Manager Refactor and Updating Implementation
  Cartfile.private
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink-Example-ObjC.xcscheme
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink-Example-Swift.xcscheme
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink.xcscheme
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLinkSwift.xcscheme
  SmartDeviceLink/private/SDLDynamicMenuUpdateAlgorithm.h
  SmartDeviceLink/private/SDLDynamicMenuUpdateAlgorithm.m
  SmartDeviceLink/private/SDLDynamicMenuUpdateRunScore.h
  SmartDeviceLink/private/SDLDynamicMenuUpdateRunScore.m
  SmartDeviceLink/private/SDLError.h
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLLifecycleManager.m
  SmartDeviceLink/private/SDLLogFileModuleMap.m
  SmartDeviceLink/private/SDLMenuConfigurationUpdateOperation.h
  SmartDeviceLink/private/SDLMenuConfigurationUpdateOperation.m
  SmartDeviceLink/private/SDLMenuManager.h
  SmartDeviceLink/private/SDLMenuManager.m
  SmartDeviceLink/private/SDLMenuManagerPrivateConstants.h
  SmartDeviceLink/private/SDLMenuManagerPrivateConstants.m
  SmartDeviceLink/private/SDLMenuReplaceOperation.h
  SmartDeviceLink/private/SDLMenuReplaceOperation.m
  SmartDeviceLink/private/SDLMenuReplaceUtilities.h
  SmartDeviceLink/private/SDLMenuReplaceUtilities.m
  SmartDeviceLink/private/SDLMenuShowOperation.h
  SmartDeviceLink/private/SDLMenuShowOperation.m
  SmartDeviceLink/private/SDLVoiceCommandManager.m
  SmartDeviceLink/private/SDLVoiceCommandUpdateOperation.m
  SmartDeviceLink/public/SDLErrorConstants.h
  SmartDeviceLink/public/SDLMenuCell.h
  SmartDeviceLink/public/SDLMenuCell.m
  SmartDeviceLink/public/SDLMenuConfiguration.m
  SmartDeviceLink/public/SDLMenuManagerConstants.h
  SmartDeviceLink/public/SDLScreenManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuCellSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuConfigurationUpdateOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuReplaceOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuReplaceUtilitiesSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuReplaceUtilitiesSpecHelpers.h
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuReplaceUtilitiesSpecHelpers.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuShowOperationSpec.m
  SmartDeviceLinkTests/SDLMenuUpdateAlgorithmSpec.m
  SmartDeviceLinkTests/TestUtilities/TestConnectionManager.m
Labels: proposal, manager-screen

#2045 Fix completion handlers not being called
  SmartDeviceLink/private/SDLCheckChoiceVROptionalOperation.m
  SmartDeviceLink/private/SDLChoiceSetManager.m
  SmartDeviceLink/private/SDLDeleteChoicesOperation.m
  SmartDeviceLink/private/SDLDeleteFileOperation.m
  SmartDeviceLink/private/SDLError.h
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLFileWrapper.m
  SmartDeviceLink/private/SDLListFilesOperation.m
  SmartDeviceLink/private/SDLMenuShowOperation.m
  SmartDeviceLink/private/SDLProtocolMessageAssembler.m
  SmartDeviceLink/private/SDLSequentialRPCRequestOperation.m
  SmartDeviceLink/private/SDLTextAndGraphicManager.m
  SmartDeviceLink/private/SDLVoiceCommandUpdateOperation.m
  SmartDeviceLink/public/SDLErrorConstants.h
  SmartDeviceLink/public/SDLErrorConstants.m
  SmartDeviceLink/public/SDLFileManager.m
  SmartDeviceLink/public/SDLSystemCapabilityManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLPreloadPresentChoicesOperationSpec.m
Labels: best practice

#2040 Fix file operations check file system at queue time instead of run time
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLDeleteFileOperation.h
  SmartDeviceLink/private/SDLDeleteFileOperation.m
  SmartDeviceLink/private/SDLError.m
  SmartDeviceLink/private/SDLUploadFileOperation.h
  SmartDeviceLink/private/SDLUploadFileOperation.m
  SmartDeviceLink/public/SDLFile.m
  SmartDeviceLink/public/SDLFileManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLDeleteFileOperationSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLFileManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLUploadFileOperationSpec.m
Labels: bug, manager-file
