Repository smartdevicelink/sdl_ios, pull requests merged in 2021-05, with the labels that each got.

#1983 Implement custom text field subclass to allow canBecomeFocused tests to pass
  SmartDeviceLinkTests/ProxySpecs/SDLHapticManagerSpec.m
Labels: bug, testing

#1986 Added missing spec files to `SmartDeviceLinkTests` target
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLinkTests/DevAPISpecs/NSMutableDictionary+StoreSpec.m
Labels: testing

#1989 Fixed "potential null dereference" warnings
  SmartDeviceLink/private/SDLProtocol.m
Labels: bug, protocol

#1990 Refactor Obj-C example app connection process to mirror Swift app
  Example Apps/Example ObjC/ConnectionTCPTableViewController.m
  Example Apps/Example ObjC/ProxyManager.m
  Example Apps/Example Swift/ProxyManager.swift
  Example Apps/Example Swift/ProxyManagerDelegate.swift
Labels: bug, example app

#1992 Fixed Example apps button state does not match the image/text state if the app is reopened after exiting
  Example Apps/Example ObjC/ButtonManager.m
  Example Apps/Example Swift/ButtonManager.swift
Labels: bug, example app

#1951 Fixes StartService RPC not ACKed on IVI boot
  SmartDeviceLink/private/SDLLifecycleProtocolHandler.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleProtocolHandlerSpec.m
Labels: bug, manager-lifecycle

#1960 Fix for Two voiceCommands contains the same string
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink/private/SDLVoiceCommandManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLVoiceCommandManagerSpec.m
Labels: bug

#1965 Fix for voice command that contains no string should be removed
  SmartDeviceLink/private/SDLVoiceCommandManager.m
  SmartDeviceLink/public/SDLVoiceCommand.m
  SmartDeviceLinkTests/DevAPISpecs/SDLVoiceCommandManagerSpec.m
Labels: bug

#1987 Update SCM to workaround Sync 3 bug with media capabilities
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink-Example-ObjC.xcscheme
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLink.xcscheme
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLinkSwift.xcscheme
  SmartDeviceLink/private/SDLConnectionManagerType.h
  SmartDeviceLink/private/SDLLifecycleManager.h
  SmartDeviceLink/private/SDLLifecycleManager.m
  SmartDeviceLink/public/SDLSystemCapabilityManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLLifecycleManagerSpec.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
  SmartDeviceLinkTests/TestUtilities/TestConnectionManager.h
Labels: bug, manager-lifecycle, manager-system-capability

#1979 Fixed File Manager not returning that files are uploaded when they are
  Example Apps/Example Swift/ProxyManager.swift
  SmartDeviceLink/public/SDLFileManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLFileManagerSpec.m
Labels: bug, manager-file

#1998 Fix for race condition occur in NSMutableDictionary
  SmartDeviceLink/private/SDLTCPTransport.m
Labels: bug
