Repository smartdevicelink/sdl_ios, pull requests merged in 2022-08, with the labels that each got.

#2099 Fix Release Script Bugs
  .github/CONTRIBUTING.md
  scripts/create_framework.sh
  scripts/release.sh
Labels: bug, distribution

#2104 Bugfix/issue 1633 open sub menu
  SmartDeviceLink/private/SDLMenuManager.m
  SmartDeviceLinkTests/DevAPISpecs/SDLMenuManagerSpec.m
Labels: bug, manager-screen

#2102 Add a Remote Control Example to the Example Apps
  Example Apps/Example ObjC/MenuManager.h
  Example Apps/Example ObjC/MenuManager.m
  Example Apps/Example ObjC/ProxyManager.m
  Example Apps/Example ObjC/RemoteControlManager.h
  Example Apps/Example ObjC/RemoteControlManager.m
  Example Apps/Example Swift/MenuManager.swift
  Example Apps/Example Swift/ProxyManager.swift
  Example Apps/Example Swift/RemoteControlManager.swift
  Example Apps/Shared/AppConstants.h
  Example Apps/Shared/AppConstants.m
  Example Apps/Shared/Images.xcassets/remote_control.imageset/Contents.json
  Example Apps/Shared/Images.xcassets/remote_control.imageset/remote_control_icon.png
  SmartDeviceLink-iOS.xcodeproj/project.pbxproj
  SmartDeviceLink-iOS.xcodeproj/xcshareddata/xcschemes/SmartDeviceLinkTests.xcscheme
Labels: best practice, example app
