Repository smartdevicelink/sdl_ios, pull requests merged in 2022-09, with the labels that each got.

#2108 deprecate didReceivePinchInView function
  SmartDeviceLink/public/SDLTouchManagerDelegate.h
Labels: bug, manager-streaming-video

#2106 Fix SystemCapabilityManager windowID, screenParams nil, and mediaClockFormats empty when updating DisplayCapability
  SmartDeviceLink/public/SDLSystemCapabilityManager.m
  SmartDeviceLinkTests/SDLSystemCapabilityManagerSpec.m
Labels: bug, manager-system-capability

#2107 Bugfix/issue 1781 good text failing
  SmartDeviceLink/private/SDLTextAndGraphicManager.m
  SmartDeviceLink/private/SDLTextAndGraphicUpdateOperation.h
  SmartDeviceLink/private/SDLTextAndGraphicUpdateOperation.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicManagerSpec.m
  SmartDeviceLinkTests/DevAPISpecs/SDLTextAndGraphicUpdateOperationSpec.m
Labels: bug, manager-screen

#2110 Fix overwriting alert view images not being shown
  SmartDeviceLink/private/SDLPresentAlertOperation.m
  SmartDeviceLinkTests/SDLPresentAlertOperationSpec.m
Labels: bug, manager-screen
